---
# tasks file for ansible-role-upgrade-packages

- name: Check for dependencies
  stat: path=/usr/lib/update-notifier/apt-check
  #stat: path=/usr/bin/apt
  register: apt_check_file

- name: Check if there are packages available to be installed/upgraded
  command: /usr/lib/update-notifier/apt-check --package-names
  #command: apt list --upgradable
  register: packages
  changed_when: false
  check_mode: no
  ignore_errors: true
  when: apt_check_file.stat.exists == True

# FIX: Ubuntu 16.04 LTS doesn't come with certain modules, required by ansible
- name: Install needed packages
  apt: name=aptitude state=present
  when: (ansible_distribution == 'Ubuntu')

- name: Show upgradeable packages
  debug: msg="{{ packages.stderr.split('\n') }}"
  ignore_errors: true
  when: packages|succeeded and not packages|skipped

- name: Upgrade all packages to the latest version
  package: upgrade=safe install_recommends=no update_cache=yes cache_valid_time=3600
  #when: packages.stderr != ""

- name: Check if a reboot is required
  stat: path=/var/run/reboot-required get_md5=no
  register: reboot_required_file
- debug: var=reboot_required_file.stat.exists
- debug: var=reboot_if_required|bool

- name: Reboot the server
  command: 'shutdown -r now "Ansible updates triggered"'
  ignore_errors: true
  when: reboot_required_file.stat.exists and reboot_if_required|bool

- name: Waiting for server to come back
  local_action: wait_for host={{ inventory_hostname }} port=22 state=started delay=30 timeout=300
  become: false
  when: reboot_required_file.stat.exists and reboot_if_required|bool
